<p>
  edit-staticstudent works!
</p>

<head>
    <title>player</title>
    <style type="text/css">
      body {
        font-family: Georgia, "Times New Roman",
              Times, serif;
        color: purple;
        background-color: white}
      h1 {
        font-family: Helvetica, Geneva, Arial,
              SunSans-Regular, sans-serif }
      </style>
  </head>
  <body>
    <form >
      <h1>Details of student having ID={{player.playerid}}</h1>
      <label>Name :</label>{{player.Name}}<br>
  
      <label>branch : </label>{{player.branch}}<br>
  
      <label>percentage :</label>{{player.percentage}}<br>

  
     
    </form>
  </body>
