<p>
  add works!
</p>
<div class="panel panel-default">
  <div class="panel-heading">student Entry Form : </div>
  <div class="panel-body">
  <form class="form-horizontal" (submit)="addStudent()">
  <div class="form-group">
    <label for="emp_name" class="col-sm-2 control-label">Student Full Name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.name" name="name" >
    </div>
  </div>
 
  <div class="form-group">
    <label  class="col-sm-2 control-label">Department Name : </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" [(ngModel)]="model.department" name="department">
    </div>
  </div>
  
  

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <button type="submit" class="btn btn-success">Save</button>
       <a class="btn btn-info" (click)="goBack()">Cancel</a>
    </div>
   
  </div>
</form>

  </div>
</div>